@import "compass/css3";
.bar2{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 10px;
	border: 9px solid rgba(0, 183, 229, 0.9);
	border-top: 9px solid transparent;
	border-left: 9px solid transparent;
	@include border-radius(100px);
	@include box-shadow(0 0 30px #2187e7);
	@include animation(circle1-1 .9s linear infinite);
	@include keyframes(circle1-1){
		0%{transform: rotate(0deg);}
		100%{transform: rotate(360deg);}
	}
}
.bar2-1{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	position: relative;
	top: -118px;
	border: 9px solid rgba(0, 183, 229, 0.9);
	border-top: 9px solid transparent;
	border-left: 9px solid transparent;
	@include border-radius(100px);
	@include box-shadow(0 0 30px #2187e7);
	@include animation(circle1-2 .9s linear infinite);
	@include keyframes(circle1-2){
		0%{transform: rotate(0deg);}
		100%{transform: rotate(-360deg);}
	}
}