*{
   margin: 0;
   padding: 0;
}
body{
	background:#000;
}

@import "bar1.scss";
@import "bar2.scss";
@import "bar3.scss";
@import "bar4.scss";
@import "bar5.scss";
@import "bar6.scss";
@import "bar7.scss";
@import "bar8.scss";
//@import "bar9.scss";

