/* line 1, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/style.scss */
body {
  background: #000;
}

/* line 2, ../sass/bar1.scss */
.bar1 {
  background: #555;
  width: 40%;
  height: 20px;
  margin: 80px 30%;
  padding: 10px 0;
  position: relative;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 10, ../sass/bar1.scss */
.bar1 span:after {
  width: 270px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0 0 10px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  overflow: hidden;
  -webkit-background-size: 50px;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
}
@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
/* line 37, ../sass/bar1.scss */
.bar1 span {
  width: 270px;
  height: 20px;
  margin-left: 10px;
  display: block;
  background-color: #2bc253;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-image: -webkit-linear-gradient(top, #2bc253 37%, #54f054 69%);
}

/* line 2, ../sass/bar2.scss */
.bar2 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 0 30px #2187e7;
  -webkit-box-shadow: 0 0 30px #2187e7;
  box-shadow: 0 0 30px #2187e7;
  -moz-animation: circle1-1 0.9s linear infinite;
  -webkit-animation: circle1-1 0.9s linear infinite;
  animation: circle1-1 0.9s linear infinite;
}
@-moz-keyframes circle1-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle1-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle1-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 18, ../sass/bar2.scss */
.bar2-1 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  top: -118px;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 0 30px #2187e7;
  -webkit-box-shadow: 0 0 30px #2187e7;
  box-shadow: 0 0 30px #2187e7;
  -moz-animation: circle1-2 0.9s linear infinite;
  -webkit-animation: circle1-2 0.9s linear infinite;
  animation: circle1-2 0.9s linear infinite;
}
@-moz-keyframes circle1-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes circle1-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes circle1-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* line 2, ../sass/bar3.scss */
.bar3 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 0 30px #2187e7;
  -webkit-box-shadow: 0 0 30px #2187e7;
  box-shadow: 0 0 30px #2187e7;
  -moz-animation: circle3-1 0.9s linear infinite;
  -webkit-animation: circle3-1 0.9s linear infinite;
  animation: circle3-1 0.9s linear infinite;
}
@-moz-keyframes circle3-1 {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(145deg);
  }
  100% {
    transform: rotate(-300deg);
    border: 9px solid transparent;
    box-shadow: 0 0 30px transparent;
  }
}
@-webkit-keyframes circle3-1 {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(145deg);
  }
  100% {
    transform: rotate(-300deg);
    border: 9px solid transparent;
    box-shadow: 0 0 30px transparent;
  }
}
@keyframes circle3-1 {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(145deg);
  }
  100% {
    transform: rotate(-300deg);
    border: 9px solid transparent;
    box-shadow: 0 0 30px transparent;
  }
}
/* line 19, ../sass/bar3.scss */
.bar3-1 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  top: -118px;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 0 30px #2187e7;
  -webkit-box-shadow: 0 0 30px #2187e7;
  box-shadow: 0 0 30px #2187e7;
  -moz-animation: circle3-2 0.9s linear infinite;
  -webkit-animation: circle3-2 0.9s linear infinite;
  animation: circle3-2 0.9s linear infinite;
}
@-moz-keyframes circle3-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle3-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle3-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 2, ../sass/bar4.scss */
.bar4 {
  width: 170px;
  height: 17px;
  margin: 0 auto;
  text-align: center;
}
/* line 7, ../sass/bar4.scss */
.bar4 div {
  width: 17px;
  height: 17px;
  background: #2187e7;
  display: inline-block;
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
@-moz-keyframes bigMid {
  0% {
    opacity: 1;
    transform: scale(4);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bigMid {
  0% {
    opacity: 1;
    transform: scale(4);
  }
  100% {
    opacity: 0;
  }
}
@keyframes bigMid {
  0% {
    opacity: 1;
    transform: scale(4);
  }
  100% {
    opacity: 0;
  }
}
/* line 26, ../sass/bar4.scss */
.bar4 .bar4-1 {
  -moz-animation: bigMid 1s linear 0.2s infinite;
  -webkit-animation: bigMid 1s linear 0.2s infinite;
  animation: bigMid 1s linear 0.2s infinite;
}
/* line 29, ../sass/bar4.scss */
.bar4 .bar4-2 {
  -moz-animation: bigMid 1s linear 0.1s infinite;
  -webkit-animation: bigMid 1s linear 0.1s infinite;
  animation: bigMid 1s linear 0.1s infinite;
}
/* line 32, ../sass/bar4.scss */
.bar4 .bar4-3 {
  -moz-animation: bigMid 1s linear infinite;
  -webkit-animation: bigMid 1s linear infinite;
  animation: bigMid 1s linear infinite;
}
/* line 35, ../sass/bar4.scss */
.bar4 .bar4-4 {
  -moz-animation: bigMid 1s linear 0.1s infinite;
  -webkit-animation: bigMid 1s linear 0.1s infinite;
  animation: bigMid 1s linear 0.1s infinite;
}
/* line 38, ../sass/bar4.scss */
.bar4 .bar4-5 {
  -moz-animation: bigMid 1s linear 0.2s infinite;
  -webkit-animation: bigMid 1s linear 0.2s infinite;
  animation: bigMid 1s linear 0.2s infinite;
}

/* line 2, ../sass/bar5.scss */
.bar5 {
  width: 170px;
  height: 17px;
  margin: 80px auto;
  text-align: center;
}
/* line 7, ../sass/bar5.scss */
.bar5 div {
  width: 17px;
  height: 17px;
  display: inline-block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@-moz-keyframes point {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
    background: #2187e7;
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes point {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
    background: #2187e7;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes point {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
    background: #2187e7;
  }
  100% {
    transform: scale(0);
  }
}
/* line 25, ../sass/bar5.scss */
.bar5 .bar5-1 {
  -moz-animation: point 4s ease-out infinite;
  -webkit-animation: point 4s ease-out infinite;
  animation: point 4s ease-out infinite;
}
/* line 28, ../sass/bar5.scss */
.bar5 .bar5-2 {
  -moz-animation: point 4s ease-out 0.3s infinite;
  -webkit-animation: point 4s ease-out 0.3s infinite;
  animation: point 4s ease-out 0.3s infinite;
}
/* line 31, ../sass/bar5.scss */
.bar5 .bar5-3 {
  -moz-animation: point 4s ease-out 0.6s infinite;
  -webkit-animation: point 4s ease-out 0.6s infinite;
  animation: point 4s ease-out 0.6s infinite;
}
/* line 34, ../sass/bar5.scss */
.bar5 .bar5-4 {
  -moz-animation: point 4s ease-out 0.9s infinite;
  -webkit-animation: point 4s ease-out 0.9s infinite;
  animation: point 4s ease-out 0.9s infinite;
}
/* line 37, ../sass/bar5.scss */
.bar5 .bar5-5 {
  -moz-animation: point 4s ease-out 1.2s infinite;
  -webkit-animation: point 4s ease-out 1.2s infinite;
  animation: point 4s ease-out 1.2s infinite;
}

/* line 3, ../sass/bar6.scss */
.bar6 {
  height: 5px;
  margin: 30px 0;
  background: #2187e7;
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 198, 255, 0.7);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 198, 255, 0.7);
  box-shadow: 0px 0px 5px 2px rgba(0, 198, 255, 0.7);
  -moz-animation: line 3s ease-out infinite;
  -webkit-animation: line 3s ease-out infinite;
  animation: line 3s ease-out infinite;
}
@-moz-keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* line 3, ../sass/bar7.scss */
.bar7 {
  height: 100px;
  width: 100px;
  margin: 50px auto;
  text-align: center;
}
/* line 8, ../sass/bar7.scss */
.bar7 div {
  width: 11px;
  height: 26px;
  margin: 0 5px;
  line-height: 100px;
  background: #99aaca;
  border: 1px solid #96a6c9;
  display: inline-block;
}
@-moz-keyframes three {
  0% {
    background-color: #bac5db;
  }
  40% {
    transform: scale(2);
    background-color: #c6ccda;
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes three {
  0% {
    background-color: #bac5db;
  }
  40% {
    transform: scale(2);
    background-color: #c6ccda;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes three {
  0% {
    background-color: #bac5db;
  }
  40% {
    transform: scale(2);
    background-color: #c6ccda;
  }
  100% {
    transform: scale(1);
  }
}
/* line 29, ../sass/bar7.scss */
.bar7 .bar7-1 {
  -moz-animation: three 1s ease-out 0.1s infinite;
  -webkit-animation: three 1s ease-out 0.1s infinite;
  animation: three 1s ease-out 0.1s infinite;
}
/* line 32, ../sass/bar7.scss */
.bar7 .bar7-2 {
  -moz-animation: three 1s ease-out 0.2s infinite;
  -webkit-animation: three 1s ease-out 0.2s infinite;
  animation: three 1s ease-out 0.2s infinite;
}
/* line 35, ../sass/bar7.scss */
.bar7 .bar7-3 {
  -moz-animation: three 1s ease-out 0.3s infinite;
  -webkit-animation: three 1s ease-out 0.3s infinite;
  animation: three 1s ease-out 0.3s infinite;
}

/* line 3, ../sass/bar8.scss */
.bar8 {
  height: 200px;
  width: 250px;
  margin: 50px auto;
  background: transparent;
}
/* line 8, ../sass/bar8.scss */
.bar8 div {
  height: 60px;
  width: 20px;
  display: inline-block;
  position: relative;
  background: transparent;
  -moz-border-radius-topleft: 50px;
  -webkit-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -webkit-border-top-right-radius: 50px;
  border-top-right-radius: 50px;
}
@-moz-keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
@keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
/* line 25, ../sass/bar8.scss */
.bar8 .bar8-1 {
  left: 110px;
  top: 20px;
  -moz-animation: wei 0.8s linear 0.36s infinite;
  -webkit-animation: wei 0.8s linear 0.36s infinite;
  animation: wei 0.8s linear 0.36s infinite;
}
/* line 30, ../sass/bar8.scss */
.bar8 .bar8-2 {
  left: 121px;
  top: 36px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-animation: wei 0.8s linear 0.48s infinite;
  -webkit-animation: wei 0.8s linear 0.48s infinite;
  animation: wei 0.8s linear 0.48s infinite;
}
/* line 37, ../sass/bar8.scss */
.bar8 .bar8-3 {
  left: 109px;
  top: 75px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-animation: wei 0.8s linear 0.6s infinite;
  -webkit-animation: wei 0.8s linear 0.6s infinite;
  animation: wei 0.8s linear 0.6s infinite;
}
/* line 43, ../sass/bar8.scss */
.bar8 .bar8-4 {
  left: 65px;
  top: 114px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -moz-animation: wei 0.8s linear 0.72s infinite;
  -webkit-animation: wei 0.8s linear 0.72s infinite;
  animation: wei 0.8s linear 0.72s infinite;
}
/* line 49, ../sass/bar8.scss */
.bar8 .bar8-5 {
  left: -2px;
  top: 130px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-animation: wei 0.8s linear 0.84s infinite;
  -webkit-animation: wei 0.8s linear 0.84s infinite;
  animation: wei 0.8s linear 0.84s infinite;
}
/* line 55, ../sass/bar8.scss */
.bar8 .bar8-6 {
  left: -68px;
  top: 114px;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -moz-animation: wei 0.8s linear 0.96s infinite;
  -webkit-animation: wei 0.8s linear 0.96s infinite;
  animation: wei 0.8s linear 0.96s infinite;
}
/* line 61, ../sass/bar8.scss */
.bar8 .bar8-7 {
  left: -112px;
  top: 75px;
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -moz-animation: wei 0.8s linear 1.08s infinite;
  -webkit-animation: wei 0.8s linear 1.08s infinite;
  animation: wei 0.8s linear 1.08s infinite;
}
/* line 67, ../sass/bar8.scss */
.bar8 .bar8-8 {
  left: -125px;
  top: 36px;
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -moz-animation: wei 0.8s linear 1.2s infinite;
  -webkit-animation: wei 0.8s linear 1.2s infinite;
  animation: wei 0.8s linear 1.2s infinite;
}
